:root {
    --white: hsl(0, 0%, 100%);
    --body-background: hsl(275, 100%, 97%);
    --light-font: hsl(292, 16%, 49%);
    --dark-font: hsl(292, 42%, 14%);
    --hover-text: #ad28eb;
}

html {
    font-family: sans-serif;
}

body {
    background: var(--body-background) url(/Users/alisonholland/Documents/coding/javascript/faq-accordion-main/assets/images/background-pattern-desktop.svg) center top / 400vw no-repeat;
    padding: 0;
    margin: 10em 0em;
}

.content-wrapper {
    background-color: var(--white);
    justify-items: center;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    margin: 5% 10%;
    padding: 1em;
    box-shadow: 0 0 5px #9c9c9c;
}

h1 {
    display: flex;
    font-size: 3em;
    align-items: center;
    gap: .5em;
    margin-left: .5em;
    margin-bottom: .25em;
}

h2 {
    display: flex;
    font-size: 1.25em;
    color: var(--dark-font);
}

p {
    font-size: 1em;
    line-height: 1.75em;
    padding: 0em;
    margin: 1.5em;
    margin-top: 0em;
    color: var(--light-font);
}

summary {
    display: flex;
    border: none;
    border-top: solid lightgray 1px;
    text-align: left;
    padding: 1.5em;
    cursor: pointer;
    font-weight: bold;
    color: var(--dark-font);
    gap: .5em;
}

details :hover {
    color: var(--hover-text);
    cursor: pointer;
}

.first-summary-item {
    border-top: none;
}

summary img {
    display: flex;
    margin-left: auto;
}

.hide {
    display: none;
}

.attribution { 
    font-size: .85em; 
    text-align: center;
    color: var(--dark-font); 
}

.attribution a { 
    color: var(--hover-text); 
}

@media (min-width: 480px) {
    body {
        background: var(--body-background) url(/Users/alisonholland/Documents/coding/javascript/faq-accordion-main/assets/images/background-pattern-desktop.svg) center top / 150vw no-repeat;
        padding: 0;
        margin: 10% 0 2% 0;
    }

    .content-wrapper {
        margin: 5% 15%;
    }
}

@media (min-width: 1200px) {
    body {
        background: var(--body-background) url(/Users/alisonholland/Documents/coding/javascript/faq-accordion-main/assets/images/background-pattern-desktop.svg) center top / 150vw no-repeat;
        padding: 0;
        margin: 20% 0 2% 0;
    }

    .content-wrapper {
        margin: 5% 25%;
    }
}