:root {
    --white: hsl(0, 0%, 100%);
    --body-background: hsl(275, 100%, 97%);
    --light-font: hsl(292, 16%, 49%);
    --dark-font: hsl(292, 42%, 14%);
    --hover-text: #ad28eb;
}

html {
    font-family: "Work Sans", sans-serif;
}

body {
    background: var(--body-background) url(https://raw.githubusercontent.com/alison-ah/faq-accordion-main/48df75f5562d97a2a82ef83be45278f4c39ec25e/assets/images/background-pattern-mobile.svg) center top / 350vw no-repeat;
    padding: 0;
    margin: 40% 0 2% 0;
}

.content-wrapper {
    background-color: var(--white);
    justify-items: center;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    margin: 5% 10%;
    padding: 1em;
    box-shadow: 0 0 5px #9c9c9c;
}

h1 {
    display: flex;
    font-family: "Work Sans";
    font-weight: 600;
    font-size: 3em;
    align-items: center;
    gap: .5em;
    margin-left: 1em;
    margin-bottom: .25em;
}

button {
    background: none;
    width: 100%;
    color: inherit;
    border: none;
    cursor: pointer;

    font-size: 1.1em;
    line-height: 1.75em;
    text-align: left;
    padding: 0;
    padding-right: 4em;
    padding-bottom: 1.5em;
    margin: 0 2em;
    color: var(--light-font);
}

button .question {
    display: flex;
    font-size: 1em;
    font-family: "Work Sans", sans-serif;
    justify-content: space-between;
    border: none;
    border-top: solid lightgray 1px;
    text-align: left;
    padding-top: 1.5em;
    cursor: pointer;
    font-weight: bold;
    color: var(--dark-font);
    gap: 0.5em;
}

.answer {
    display: flex;
    font-size: .8em;
    font-family: "Work Sans", sans-serif;
    line-height: 1.5em;
    padding-top: 2em;
}

.question.first-question {
    border-top: none;
}

button :hover {
    color: var(--hover-text);
    cursor: pointer;
}

.attribution :hover {
    color: var(--hover-text);
    cursor: pointer;
}

.hide {
    display: none;
}

.attribution { 
    font-size: .85em; 
    text-align: center;
    color: black; 
}

.attribution a { 
    color: var(--dark-font); 
}

@media (min-width: 480px) {
    body {
        background: var(--body-background) url(https://raw.githubusercontent.com/alison-ah/faq-accordion-main/48df75f5562d97a2a82ef83be45278f4c39ec25e/assets/images/background-pattern-desktop.svg) center top / 200vw no-repeat;
        margin: 20% 0 2% 0;
    }

    .content-wrapper {
        margin: 5% 15%;
    }
}

@media (min-width: 1200px) {
    body {
        background: var(--body-background) url(https://raw.githubusercontent.com/alison-ah/faq-accordion-main/48df75f5562d97a2a82ef83be45278f4c39ec25e/assets/images/background-pattern-desktop.svg) center top / 150vw no-repeat;
        margin: 15% 0 2% 0;
    }

    .content-wrapper {
        margin: 5% 25%;
    }
}